{% templatetag openblock %} extends "base.html" {% templatetag closeblock %}
{% templatetag openblock %} load wagtailcore_tags {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}

    {% templatetag openblock %} if request.GET.tag {% templatetag closeblock %}
        <h4>Showing pages tagged "{% templatetag openvariable %} request.GET.tag {% templatetag closevariable %}"</h4>
    {% templatetag openblock %} endif {% templatetag closeblock %}

    {% templatetag openblock %} for blogpage in blogpages {% templatetag closeblock %}

          <p>
              <strong><a href="{% templatetag openblock %} pageurl blogpage {% templatetag closeblock %}">{% templatetag openvariable %} blogpage.title {% templatetag closevariable %}</a></strong><br />
              <small>Revised: {% templatetag openvariable %} blogpage.latest_revision_created_at {% templatetag closevariable %}</small><br />
              {% templatetag openblock %} if blogpage.author {% templatetag closeblock %}
                <p>By {% templatetag openvariable %} blogpage.author.profile {% templatetag closevariable %}</p>
              {% templatetag openblock %} endif {% templatetag closeblock %}
          </p>

    {% templatetag openblock %} empty {% templatetag closeblock %}
        No pages found with that tag.
    {% templatetag openblock %} endfor {% templatetag closeblock %}

{% templatetag openblock %} endblock {% templatetag closeblock %}
